html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wk-main {
  box-sizing: border-box;
  width: 100%;
}

.wk-sidebar {
  background: #445;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: 100%;
  height: auto;
  padding: 1rem;
}
.wk-sidebar p, .wk-sidebar h1, .wk-sidebar h2, .wk-sidebar h3, .wk-sidebar h4, .wk-sidebar h5, .wk-sidebar h6, .wk-sidebar a, .wk-sidebar li {
  color: #FFF;
  text-decoration: none;
  transition: all 0.625s;
  font-size: large;
}
.wk-sidebar a:hover {
  color: skyblue;
  font-size: x-large;
  font-weight: 500;
}

@media (min-width: 600px) {
  .wk-sidebar {
    width: 29%;
    height: 100vh;
  }
}
@media (min-width: 900px) {
  .wk-sidebar {
    width: 23%;
  }
}
@media (min-width: 1200px) {
  .wk-sidebar {
    width: 18%;
  }
}
.wk-content {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  padding: 1.5rem 1rem 1rem 1rem;
  width: 100%;
}

@media (min-width: 600px) {
  .wk-content {
    width: 70%;
  }
}
@media (min-width: 900px) {
  .wk-content {
    width: 76%;
  }
}
@media (min-width: 1200px) {
  .wk-content {
    width: 81%;
  }
}
.wk-footer {
  outline: dotted pink;
}

body {
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
  line-height: 23px;
}

h1 h2 h3 h4 h5 h6 strong {
  font-weight: 500;
}

h1 {
  font-size: 2em;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.17em;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.12em;
  margin-bottom: 1rem;
}

h5 {
  font-size: 0.83em;
  margin-bottom: 1rem;
}

h6 {
  font-size: 0.75em;
  margin-bottom: 1rem;
}

p {
  font-size: 1em;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 1rem;
}

blockquote {
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 1rem;
}

pre {
  font-size: 11px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 1rem;
}

dl dd {
  margin-bottom: 1rem;
}

.wk-btn {
  width: auto;
}

.wk-inline {
  flex: auto;
}

.wk-inline-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1em;
}

.wk-logo {
  text-shadow: #3075a5 0px 0px 0px, #3179aa 1px 1px 0px, #337db0 2px 2px 0px, #3581b6 3px 3px 0px, #3686bc 4px 4px 0px, #388ac2 5px 5px 0px, #3a8ec8 6px 6px 0px, #3c92ce 7px 7px 0px, #3d96d4 8px 8px 0px, #3f9ad9 9px 9px 0px, #419fdf 10px 10px 0px, #42a3e5 11px 11px 0px;
  font-size: 68px;
  color: white;
  height: 150px;
  width: 150px;
  line-height: 150px;
  border-radius: 17%;
  text-align: center;
  background-color: #44a7eb;
  margin: 0 auto 1rem auto;
}

.wk-full-width {
  width: 100% !important;
}

/*# sourceMappingURL=style/site.css.map */
