<img src="https://via.placeholder.com/150x150" class="wk-logo" />

<form method="get" asp-page="Search">
    <div class="wk-inline-group">
        <input name="searchString" placeholder="Search..." class="wk-inline" />
        <button type="submit" class="wk-btn wk-inline">Search</button>
    </div>
</form>

<a asp-page="Create">Create Article</a>

<ul>
    <li>Home</li>
    <li>Random Article</li>
</ul>