<a asp-page="Index"><div class="wk-logo">Wk3</div></a>

<form method="get" asp-page="Search">
    <div class="wk-inline-group">
        <input name="searchString" placeholder="Search..." class="wk-inline" />
        <button type="submit" class="wk-btn wk-inline">Search</button>
    </div>
</form>

<a asp-page="Edit">Create Article</a>
<hr />
<ul>
    <li>Top 5 Articles</li>
    <li>Random Article</li>
</ul>