@page
@model WikiWikiWiki.Pages.ArticleModel
@{
    ViewBag.Title = Model.Article?.Title ?? "Article Not Found";
}

@if (Model.Article != null)
{
    <h1>@Model.Article.Title</h1>

    <div>@Model.Article.Content</div>
}
else
{
    <h2>The specified article was not found!</h2>
}
