@page
@model WikiWikiWiki.Pages.EditModel
@{
    ViewBag.Title = Model.IsNewArticle ? "Create New Article" : $"Editing {Model.Article.Title}";
}

<h1>@ViewBag.Title</h1>

<form method="post">
    <dl>
        <dt><label asp-for="Article.Title"></label></dt>
        <dd><input asp-for="Article.Title" class="wk-full-width" /><br /></dd>
        <dt><label asp-for="Article.ImageUrl"></label></dt>
        <dd><input asp-for="Article.ImageUrl" class="wk-full-width" /><br /></dd>
        <dt><label asp-for="Article.Content"></label></dt>
        <dd><textarea asp-for="Article.Content" class="wk-full-width" rows="25"></textarea></dd>
    </dl>

    <input hidden asp-for="Article.Id" />
    <button type="submit" class="wk-btn">Submit</button>
</form>