@page
@{
    ViewBag.Title = "Index";
}

<h1>WikiWikiWiki (Wk3)</h1>
<hr />
<h3>Description</h3>
<p>
    WikiWikiWiki (Wk3) is a simple wiki platform built in ASP.NET Core, Razor Pages,
    Entity Framework, Sass, and Markdown. Posts can be created, edited, deleted,
    searched, and viewed by any users accessing the site. Posts are formatted
    using Markdown to enable rich text formatting, images, links, etc.
</p>
<h3>Open Source</h3>
<p>
    This project is open source and can be found on GitHub:
    <a href="https://github.com/taylorjoshuaw/Razor-Pages-Portfolio">
        https://github.com/taylorjoshuaw/Razor-Pages-Portfolio
    </a>
</p>
<h3>Author</h3>
<p>
    WikiWikiWiki (Wk3) was created by <a href="mailto:taylor.joshua88@gmail.com">
    Joshua Taylor</a> as a school project while attending
    <a href="http://codefellows.org">
    Code Fellows</a>' Advanced ASP.NET Core course. You can reach him on
    <a href="https://github.com/taylorjoshuaw">GitHub</a>,
    <a href="https://twitter.com/Jupiter_Nebula">Twitter</a>,
    <a href="https://www.linkedin.com/in/taylorjoshuaw/">LinkedIn</a>,
    <a href="mailto:taylor.joshua88@gmail.com"> or via e-mail</a>.
</p>
<h3>Thanks</h3>
<p>
    Special thanks goes out to the contributors of the TagHelper Samples project
    which can be found <a href="http://taghelpersamples.azurewebsites.net/">
        on the project's website</a> or 
    <a href="https://github.com/dpaquette/TagHelperSamples"> on GitHub</a>.
</p>
