$wk-font-stack: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
$wk-line-height: 23px;
$wk-heavy-weight: 500;

$wk-xl-width: 1200px;
$wk-lg-width: 900px;
$wk-md-width: 600px;

$wk-sidebar-xl: 18%;
$wk-sidebar-lg: 23%;
$wk-sidebar-md: 29%;

$wk-sidebar-color: #445;