.wk-content {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    padding: 1.5rem 1rem 1rem 1rem;
    width: 100%;
}

@media (min-width: $wk-md-width) {
    .wk-content {
        width: 99% - $wk-sidebar-md;
    }
}

@media (min-width: $wk-lg-width) {
    .wk-content {
        width: 99% - $wk-sidebar-lg;
    }
}

@media (min-width: $wk-xl-width) {
    .wk-content {
        width: 99% - $wk-sidebar-xl;
    }
}


