.wk-sidebar {
    background: #777;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 100%;
    height: auto;
    padding: 1rem;
}

@media (min-width: $wk-md-width) {
    .wk-sidebar {
        width: $wk-sidebar-md;
        height: 100vh;
    }
}

@media (min-width: $wk-lg-width) {
    .wk-sidebar {
        width: $wk-sidebar-lg;
    }
}

@media (min-width: $wk-xl-width) {
    .wk-sidebar {
        width: $wk-sidebar-xl;
    }
}
